doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/post-auth.css")

        title Stuni | Occupation
    body
        .container
            .main-section
                .logo stuni

                .data-contaner 
                    .text-h1.text-center What bring's you to stuni 
                    .subtitle-text3.text-center Select an option that best describes you? dont worry you can explore others later

                    .con-flakes 
                        .corn 
                            img(src="/images/developer.svg", alt="")
                            .subtitle-text.text-center.m-1 I'am a producer looking to share my work
                            .subtitle-text4.text-center.move With over 2000 users <br> country wide, i think that will be enough to set you a blaze.
                    
                        .corn 
                            img(src="/images/explore.svg", alt="")
                            .subtitle-text.text-center.m-1 I'am a promoter looking to sell my clients
                            .subtitle-text4.text-center.move With over 2000 users  <br>country wide, i think that will be enough to set you a blaze.
    
                        .corn 
                            img(src="/images/potcher.svg", alt="")
                            .subtitle-text.text-center.m-1 I'am a developer looking to explore a partnership
                            .subtitle-text4.text-center.move With over 2000 users  <br>country wide, i think that will be enough to set you a blaze.

                                


                    .subtitle-text2.text-center Anything else? You can select multiple

                    .action-btns
                        button(type="submit",class="submit-btn tune") Finish 



            .wall-section
                //- nothing here 
