doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/post-auth.css")
        title Stuni | Profile
    body
        .container
            .main-section
                .logo stuni

                .data-contaner 
                    .text-h1 Welcome! Lets create your profile 
                    .subtitle-text3 Let others get to know you better! You can do these later

                    .subtitle-text1.m-3 Change your avatar 
                    .block1 
                        .avatar-container
                            .avatar B 
                        .side-section 
                            .inputBox 
                                input(type="file", name="avatar")

                            .subtitle-text3.m-2 Or choose one of our defaults
                    .subtitle-text1.m-2 Where's your Residence?
                    .inputBox 
                        input(type="text", name="location", placeholder="Enter Location")

                    button(type="submit",class="submit-btn") Next 



            .wall-section
                //- nothing here 



        

