doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/_login.css")
        link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css", integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p", crossorigin="anonymous")
        title Gustuni | login
    body 
        <!-- header -->
        .main-header 
            .logo  stuni
                span
            .side-nav.d-flex.items-center
                span Follow us on -
                .social-links 
                    a(class="s-links", href="", target="_blank") 
                        i(class="fab fa-facebook-f")
                    a(class="s-links", href="", target="_blank") 
                        i(class="fab fa-instagram")
                    a(class="s-links", href="", target="_blank") 
                        i(class="fab fa-twitter")
                    a(class="s-links", href="", target="_blank") 
                        i(class="fab fa-github") 
                 
              

        .container 
        
            .side-note 
                img(src="/images/acess_account.svg", class="ace", alt="")
            .log-container    
                .logbox 
                    form(action="/login", method="post")
                        legend Gustuni
                        .-msg As an artist this is home, the place to earn!

                        if error.length > 0
                            .error #{error}

                        .inputBox.column 
                            label(for="email") Your email  
                            input(type="email",name="email", placeholder="Your username") 

                        .inputBox.column 
                            label(for="passwd")  Password
                            input(type="password", name="passwd", placeholder="Your password") 

                        a(class="forgot", href="/forgot-passwd") Forgot password
                        button(type="submit", class="congress") Join The Team
                    .action-buttons 
                        span New to Gustuni ?    
                            a(href='/sign-up') Create account 

                    

        
            <!-- header -->

